// Typography
$font-default: "Roboto", sans-serif;

// --Colors--

// white
$color-white: #fff;

// blue
$color-default-blue: #003763;
$color-light-blue: #1b6dc3;
$color-dark-blue: #383d47;
$color-dark-blue-2: #134c8d;
$color-dark-blue-3: #1b3561;

// gray
$color-dark-gray: #878b97;
$color-default-gray: #b3b6bf;
$color-light-gray: #d8dade;
$color-light-gray-2: #eff0f2;

$color-support-light: #f8f8f8;

// Alerts
$color-error: #d94847;
$color-success: #3a9f58;
$color-warning: #febe00;

// Font Size
$size-huge: "4rem"; // 64px
$heading-one: "3rem"; // 48px
$heading-two: "2rem"; // 32px
$section-title: "1.5rem"; // 24px
$size-subtitle: "1.25rem"; // 20px
$size-regular: "1rem"; // 16px
$size-small: "0.75rem"; // 12px

// Media queries
$iphone5-viewport: "max-width: 320px";
$xs-viewport: "max-width: 480px";
$sm-viewport: "max-width: 768px";
$md-viewport: "max-width: 1024px";
$lg-viewport: "min-width: 1024px";
$xl-viewport: "min-width: 1367px";
$retina-display: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";
